<form novalidate name="dashboardForm"
    ng-controller="Deploy.Dashboard.DeployDashboardController"
    ng-show="loaded"
    ng-submit="save()"
    val-form-manager>

    <p>The settings below allow you to setup this website as a "target site" in order to deploy contents from other sites.</p>

    <div class="umb-pane">

        <umb-property property="properties.enabledEditor">
            <input type="checkbox" name="enabled" ng-model="currentSiteModel.Enabled" />
		</umb-property>

        <umb-property property="properties.securityKeyEditor">
            <input type="text" name="securityKey" ng-model="currentSiteModel.SecurityKey"
                class="input-large umb-textstring textstring" />
		</umb-property>

        <div class="umb-tab-buttons" detect-fold ng-class="{'umb-dimmed': busy}">
            <div class="btn-group">
                <button type="submit" data-hotkey="ctrl+s" class="btn btn-success" ng-disabled="actionInProgress">
                    <localize key="buttons_save">Save</localize>
                </button>
            </div>
        </div>

    </div>
</form>