<form ng-controller="Deploy.DeployTree.DeployEditController">

    <umb-panel>

        <umb-header tabs="tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="ng-binding"><b>{{targetSiteModel.SiteName}}</b></h1>
            </div>
        </umb-header>
 
        <umb-tab-view>
            <div ng-show="!targeSiteAccessible" class="alert alert-warning property-error ng-binding" property="property">The selected Target Site is NOT accessible. Please review the settings.</div>

            
            <!-- ----------------------------------------------------- CONTENT ----------------------------------------------------- -->
            <umb-tab id="tab1" rel="Content">

                <div class="umb-pane" ng-controller="Deploy.DeployTree.DeployEditContentController">

                    <div class="umb-editor umb-listview" >
                        <div class="row-fluid" >
                            <div class="umb-sub-header">
                                <div class="btn-group" ng-show="isAnythingSelected()" ng-if="entityType === 'content'">
                                    <a class="btn btn-success" ng-disabled="actionInProgress" ng-click="deployContents()" prevent-default>Deploy</a>
                                </div>
                                <span ng-bind="bulkStatus" ng-show="isAnythingSelected()"></span>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td style="width: 35px">
                                            <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></td>
                                        <td><a href="#" ng-click="sort('Name')" prevent-default>
                                            <localize key="general_name">Name</localize>
                                            <i class="icon-sort"></i></a></td>
                                        <td><a href="#" ng-click="sort('UpdateDate')" prevent-default>
                                            <localize key="defaultdialogs_lastEdited">Last edited</localize>
                                            <i class="icon-sort"></i></a></td>
                                        <td><a href="#" ng-click="sort('Owner')" prevent-default>
                                            <localize key="content_updatedBy">Updated by</localize>
                                            <i class="icon-sort"></i></a></td>
                                        <td>
                                            <form class="pull-right" novalidate>
                                                <i class="icon-search"></i>
                                                <input type="text" ng-model="options.filter" on-keyup="search()">
                                            </form>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in listViewResultSet.items"
                                        ng-class="{selected:result.selected}">
                                        <td>
                                            <i class="icon {{result.icon}}" ng-class="getIcon(result)"></i>
                                            <input type="checkbox" ng-model="result.selected">
                                        </td>
                                        <td>
                                            <a ng-class="{inactive: entityType === 'content' && !result.published}" href="#/{{entityType}}/{{entityType}}/edit/{{result.id}}">{{result.name}}</a>
                                        </td>
                                        <td>
                                            {{result.updateDate|date:'medium'}} 
                                        </td>
                                        <td>
                                            {{result.owner.name}}
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot ng-show="pagination.length > 1">
                                    <tr>
                                        <th colspan="5">
                                            <div class="pull-left">
                                            </div>
                                            <div class="pagination pagination-right">
                                                <ul>
                                                    <li><a href="#" ng-click="prev()" prevent-default>
                                                        <localize key="general_previous">Previous</localize>
                                                    </a></li>

                                                    <li ng-repeat="pgn in pagination track by $index"
                                                        ng-class="{active:$index==options.offset}">
                                                        <a href="#" ng-click="goToPage($index)" prevent-default>{{$index + 1}}</a>
                                                    </li>
                                                    <li><a href="#" ng-click="next()" prevent-default>
                                                        <localize key="general_next">Next</localize>
                                                    </a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </umb-tab>


            <!-- ----------------------------------------------------- MEDIA ----------------------------------------------------- -->
            <umb-tab id="tab2" rel="Media">

                <div class="umb-pane" ng-controller="Deploy.DeployTree.DeployEditMediaController">

                    <div class="umb-editor umb-listview" >
                        <div class="row-fluid" >
                            <div class="umb-sub-header">
                                <div class="btn-group" ng-show="isAnythingSelected()" ng-if="entityType === 'media'">
                                    <a class="btn btn-success" ng-disabled="actionInProgress" ng-click="deployMedias()" prevent-default>Deploy</a>
                                </div>
                                <span ng-bind="bulkStatus" ng-show="isAnythingSelected()"></span>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td style="width: 35px">
                                            <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></td>
                                        <td><a href="#" ng-click="sort('Name')" prevent-default>
                                            <localize key="general_name">Name</localize>
                                            <i class="icon-sort"></i></a></td>
                                        <td><a href="#" ng-click="sort('UpdateDate')" prevent-default>
                                            <localize key="defaultdialogs_lastEdited">Last edited</localize>
                                            <i class="icon-sort"></i></a></td>
                                        <td><a href="#" ng-click="sort('Owner')" prevent-default>
                                            <localize key="content_updatedBy">Updated by</localize>
                                            <i class="icon-sort"></i></a></td>
                                        <td>
                                            <form class="pull-right" novalidate>
                                                <i class="icon-search"></i>
                                                <input type="text" ng-model="options.filter" on-keyup="search()">
                                            </form>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in listViewResultSet.items"
                                        ng-class="{selected:result.selected}">
                                        <td>
                                            <i class="icon {{result.icon}}" ng-class="getIcon(result)"></i>
                                            <input type="checkbox" ng-model="result.selected">
                                        </td>
                                        <td>
                                            <a ng-class="" href="#/{{entityType}}/{{entityType}}/edit/{{result.id}}">{{result.name}}</a>
                                        </td>
                                        <td>
                                            {{result.updateDate|date:'medium'}} 
                                        </td>
                                        <td>
                                            {{result.owner.name}}
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot ng-show="pagination.length > 1">
                                    <tr>
                                        <th colspan="5">
                                            <div class="pull-left">
                                            </div>
                                            <div class="pagination pagination-right">
                                                <ul>
                                                    <li><a href="#" ng-click="prev()" prevent-default>
                                                        <localize key="general_previous">Previous</localize>
                                                    </a></li>

                                                    <li ng-repeat="pgn in pagination track by $index"
                                                        ng-class="{active:$index==options.offset}">
                                                        <a href="#" ng-click="goToPage($index)" prevent-default>{{$index + 1}}</a>
                                                    </li>
                                                    <li><a href="#" ng-click="next()" prevent-default>
                                                        <localize key="general_next">Next</localize>
                                                    </a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </umb-tab>

         </umb-tab-view>

    </umb-panel>

</form>


